* {
    padding: 0%;
    margin: 0%;
}

/* flower head container */
.flower-head-container {
    height: 70vh;
    display: flex;
    display: cover;
    /* background: rgba(229, 84, 115, 0.10); */
    background-color: #0597A026;
    align-items: center;
    justify-content: center;
}

.head-info {
    margin-left: 200px;
}

.head-description {
    margin-top: 10px;
}

.head-img {
    height: 350px;
    width: 350px;
    margin-right: 100px;
}

.primary-btn {
    font-size: 10px;
    padding: 10px;
    color: white;
    background: #E55473;
    border-radius: 8px;
    border: none;
    margin-top: 10px;
}

/* Deal section */
.deal-container {
    height: 50vh;
    display: flex;
    gap: 20px;
    /* background: rgba(229, 84, 115, 0.05); */
    background-color: #0597A026;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}

.deal-info {
    margin-left: 150px;
    align-items: center;
}

.deal-span {
    color: #E55473;
}

.deal-img {
    height: 350px;
    width: 250px;
    margin-right: 100px;
}

/* feature-container */
.feature-container {
    width: 80%;
    margin: auto;
}

.feature-info {
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.feature-photo {
    display: flex;
    gap: 5px;

    align-items: center;
    justify-content: center;
}



.feature-img {
    background-color: #0597A026;

    width: 100%;
    aspect-ratio: 1;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
}

.feature-img2 {
    background-color: #A7216226;
    aspect-ratio: 1;
    width: 100%;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
}

.feature-img3 {
    background-color: #477D1126;
    aspect-ratio: 1;
    width: 100%;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
}

.photo-text {
    text-align: center;
    padding: 8px;
    margin-top: 20px;
    width: 33.33%;
}

/* event container */
.event-container {
    height: 300px;
    width: 80%;
    margin: auto;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #A7216226;
}

.event-photo img {
    height: 100px;
    width: 200px;
}

/* social-media-container */
.social-media-info {
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.social-media-img {
    display: flex;
    justify-content: center;
    gap: 1%;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.social-photo {
    width: 24%;
    /* height: 200px; */
    aspect-ratio: 1;
}

/* Latest container */
.latest-container {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    height: 300px;
    background-image: url('./Flower Asset/Rectangle 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
}

.latest-bio {
    padding: 60px;
    align-items: center;

}

.email-input {
    padding: 8px;
    width: 40%;
    border-radius: 5px;
    margin-bottom: 60px;
}

/* footer */
footer {
    background-color: black;
    color: white;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 50px;
    /* height: 200px; */
    margin-top: 50px;
}